@import "~bootstrap/scss/bootstrap";
@import "./themes/default.scss";

body {
    margin: 0px;
    padding: 0px;
    color: map-get($theme, text-color);
    // background: red;
}

@import "./utils.scss";
@import "./../components/header/header.scss";
@import "./../components/initials-avatar/initials-avatar.scss";
@import "./../components/user-avatar/user-avatar.scss";
