.width-max {
    margin: auto;
    max-width: 1380px;
}

/**
 * Tabs
*/

.ds-table {
    display: table;
}

.ds-cell {
    display: table-cell;
    vertical-align: top;
}

/**
*/
.vertical-align-middle {
    vertical-align: middle;
}
